---
import Layout from '../layouts/Layout.astro';
import FloatInput from '../components/FloatInput.astro';
import Select from '../components/Select.astro';
import Checkbox from '../components/Checkbox.astro';
import Button from '../components/Button.astro';

import type { Item } from '../components/Select.astro';

const firstSelect: Item[] = [
	{ value: 'nike', label: 'Nike' },
	{ value: 'adidas', label: 'Adidas' },
	{ value: 'puma', label: 'Puma' },
]

const secondSelect: Item[] = [
	{ value: 'apple', label: 'Apple' },
	{ value: 'dell', label: 'Dell' },
	{ value: 'hp', label: 'HP' },
	{ value: 'lenovo', label: 'Lenovo' },
]

---

<Layout title="Welcome to Astro.">
	<section>
		<form action="">
			<h1>Formulario</h1>
			<FloatInput idInput='nombre' text='nombre de usuario'></FloatInput>
			<FloatInput idInput='apellido' text='apellido de usuario'></FloatInput>
			<FloatInput idInput='correo' text='correo electronico'></FloatInput>
			<FloatInput idInput='direccion' text='direccion'></FloatInput>
			<Select options={firstSelect}/>
			<Select options={secondSelect}/>
			<Checkbox idCheckbox='checkbox' text='terminos y condiciones'/>
			<Button>
				<span>Enviar</span>
			</Button>
		</form>
	</section>
</Layout>

<style>
	section {
		display: grid;
		place-items: center;
		height: 100vh;
		background: rgb(131,58,180);
		background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
	}

	form {
		display: grid;
		gap: 8px;
		background-color: #fff;
		padding: 1rem;
		border-radius: 1rem;
		box-shadow: 0 0 10px #000000a2;
	}

	h1 {
		color: var(--color-950);
		text-align: center;
	}
</style>