---
interface Props {
    classCss?: string;
    idInput: string;
    text: string;
    typeInput?: 'text' | 'email' | 'password';
}
const { classCss, text, idInput, typeInput = "text" } = Astro.props;
---
<div class="float-label">
    <input type={typeInput} name="" id={idInput} placeholder="Placeholder">
    <label for={idInput}>{text}</label>
</div>