---
interface Props {
    options: Item[];
}

export interface Item {
    value: string;
    label: string;
}

const { options } = Astro.props;
---

<div class="float-label">
    <select name="" id="">
        {
            options.map(({ label, value }) => (
                <option value={value}>{label}</option>
            ))
        }
    </select>
    <label for="">Producto</label>
</div>