---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
        --color-50: #ebf4ff;
        --color-100: #daebff;
        --color-200: #bcd8ff;
        --color-300: #94beff;
        --color-400: #6996ff;
        --color-500: #476fff;
        --color-600: #2745ff;
        --color-700: #263de8;
        --color-800: #192eba;
        --color-900: #1e3091;
        --color-950: #121b54;
	}

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	body {
		font-family: system-ui, sans-serif;
		margin: 0;
	}
</style>


<!-- 'persian-blue': {
	'50': '#ebf4ff',
	'100': '#daebff',
	'200': '#bcd8ff',
	'300': '#94beff',
	'400': '#6996ff',
	'500': '#476fff',
	'600': '#2745ff',
	'700': '#263de8',
	'800': '#192eba',
	'900': '#1e3091',
	'950': '#121b54',
}, -->
